<div class="spacer"></div>


<div class="newNote">
<a ng-click="noteForm=!noteForm" href="/"><h4>create a new note <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</h4></a>
</div>

<input id="search" type="text" ng-model="search" placeholder="  Search ...">

<!--FORM FOR NEW NOTE-->
<form ng-show="noteForm" name="userForm" ng-submit="vm.sendData()" >
   <div class="spacer"></div>

  <h1>Create Your New Note   <a ng-click="noteForm=!noteForm" ><i class="fa fa-times" aria-hidden="true"></i></a></h1>

  <input type="text" name="title" ng-model="vm.note.title" placeholder=" title" required>
  <input type="date" name="date" ng-model="vm.note.date" >
  <textarea type="text" id="mytextarea" name="content" rows="8" cols="40" ng-model="vm.note.content"></textarea>
  <button  ng-click="noteForm=!noteForm ; vm.sendUserNote(vm.note);vm.getNotes()  " type="submit"  >Submit</button>
  <div class="spacer"></div>
  <div class="spacer"></div>
</form>

<div class="row">

<!--ALL NOTES -->
<div ng-repeat="note in filteresNote=(vm.notes | filter:search |orderBy:'date':true)" class="col-md-4" id="notes">


    <div class="note" noteId={{note.id}} ng-click="vm.openNote(note)" >
      <p class="title">{{note.title}}</p>
      <p class="date">{{note.date}}</p>
    </div><!-- note -->

</div><!-- col -->




</div><!-- row -->










